<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{%static 'firstapp/style.css' %}">
        <title> Titre</title>
</head>
<body>
    <form action="#" method="post">
        {%csrf_token%}
        <label  for="1">Nom</label>
        <input id="1" type ="text">
        <label  for="2">Email</label>
        <input id="2" type ="email">
        <label  for="3">Sujet</label>
        <input id="3" type ="text">
        <label  for="4">Message</label>
        <textarea id="4" name="Message"></textarea>
        <input type="submit">

{% if nom is not None %}
    <h1> Hello {{nom}} </h1>
{% else %}
    <h1> Hello world </h1>
{% endif %}
    </form>



</body>
</html>